@media only screen and (max-width: 500px) {
    .bar {
        position: absolute;
        margin-block-start: -1.85%;
        margin-inline-start: -2%;
        display: flex;
        background-color: white;
        justify-content: space-between;
       height: 2.5rem;
       width: 104vw;
    }
    .icons {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
      
}

@media only screen and (max-width: 1000px) and (max-height: 500px) {
    .bar {
        position: absolute;
        margin-block-start: -.85%;
        margin-inline-start: -2%;
        display: flex;
        background-color: white;
        justify-content: space-between;
       height: 2.5rem;
       width: 104vw;
    }
    
    .icons {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    
}

@media only screen and (max-width: 1700px) and (max-height: 2300px) {
    .bar {
        position: absolute;
        margin-block-start: -0.35%;
        margin-inline-start: -2%;
        display: flex;
        background-color: white;
        justify-content: space-between;
       height: 5rem;
       width: 104vw;
    }

    .icons {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
    
.b {
        place-self: end;
            width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-top: .25rem;
         margin-left: 75%;   
        }
        
    
}


@media only screen and (max-width: 2300px ) and (max-height: 1700px) {
    .bar {
        position: absolute;
        margin-block-start: -0.35%;
        margin-inline-start: -2%;
        display: flex;
        background-color: white;
        justify-content: space-between;
       height: 5rem;
       width: 104vw;
    }

    .icons {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
    
.b {
        place-self: end;
            width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-top: .25rem;
         margin-left: 75%;   
        }
        
    
}