@media only screen and (max-width: 500px) {
    .whiteFrame {
        position: absolute;
        top: 290%;
        width: 100vw;
        height: 60vw;
        right: 0%;
    display: none;
    }
    .pic {
        position: absolute;
        width: 50vw;
        border-radius: 50%;
        top: 310%;
        left: 27vw;

    }
    .mailContainer {
        display:flex;
    }
    .mailLogo{
        z-index: 3;
        width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    top: 4600%;
    right: -92vw;
    }
    .secretColumn{
        content: ".";
        background-color: white;
        display: block;
        position: absolute;
        top: 270%;
        width: 104vw;
        left: 0;
height: 25vw;
    }
            
.icons {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

}

@media only screen and (max-width: 1000px) and (max-height: 500px) {

    .whiteFrame {
        position: absolute;
        top: 270%;
        width: 100vw;
        height: 60vw;
        right: 0%;
    display: none;
    }
    .pic {
        position: absolute;
        width: 25vw;
        border-radius: 50%;
        top: 595%;
        left: 41vw;

    }
    .mailContainer {
        display:flex;
    }
    .mailLogo{
        z-index: 3;
        width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    top: 4600%;
    right: -92vw;
    }
    .secretColumn{
        content: ".";
        background-color: white;
        display: block;
        position: absolute;
        top: 565%;
        width:  103.7vw;
        left: 0;
height: 10vw;
    }
            


}
@media only screen and (min-width: 1500px ) and (max-width: 1700px)  and (min-height:2000px) and (max-height: 2300px) {

    .whiteFrame {
        position: absolute;
        top: 270%;
        width: 100vw;
        height: 60vw;
        right: 0%;
    display: none;
    }
    .pic {
        position: absolute;
        width: 25vw;
        border-radius: 50%;
        top: 300%;
        left: 43vw;

    }
    .mailContainer {
        display:flex;
    }
    .mailLogo{
        z-index: 3;
        width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    top: 4600%;
    right: -92vw;
    }
    .secretColumn{
        content: ".";
        background-color: white;
        display: block;
        position: absolute;
        top: 290%;
        width:  103.5vw;
        left: 0;
height: 10vw;
    }
            


}

@media only screen and (min-width: 2000px )and (max-width: 2500px ) and (min-height:1500px) and (max-height: 1900px) {
    .whiteFrame {
        position: absolute;
        top: 200%;
        width: 105vw;
        height: 100vw;
        right: -3%;
        display: none;
    }
    .pic {
        position: absolute;
        width: 20vw;
        border-radius: 50%;
    top: 225%;
    left: 10%;
    }
    .mailContainer {
        display:flex;
    }
    .mailLogo{
        z-index: 3;
        width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    top: 4600%;
    right: -92vw;
    }
    .secretColumn{
        content: ".";
        background-color: white;
        display: block;
        position: absolute;
        top: 200%;
        width:  103.1vw;
        left: 0;
height: 10vw;
    }
 

}
